<div class="mega-menu-section ${fragmentEntryLinkNamespace} ${configuration.backgroundColor?then('mega-menu-section-background', '')}">
	<div class="mega-menu-section-title" data-lfr-editable-id="title" data-lfr-editable-type="text">
		${languageUtil.get(locale, 'section', 'Section')}
	</div>

	<div class="mega-menu-section-grid ${fragmentEntryLinkNamespace}">
		<lfr-drop-zone data-lfr-drop-zone-id="mega-menu-section-grid"></lfr-drop-zone>
	</div>
</div>

<style>
	.lfr-layout-structure-item-mega-menu-grid:has(.mega-menu-section.${fragmentEntryLinkNamespace}),
	.page-editor__topper:has(.mega-menu-section.${fragmentEntryLinkNamespace}) {
		grid-column: span ${configuration.parentColumnSpan};

		@media (max-width: 991.98px) {
			grid-column: span 1;
		}
	}

	.mega-menu-section-grid.${fragmentEntryLinkNamespace} > div,
	.mega-menu-section-grid.${fragmentEntryLinkNamespace} .page-editor__root {
		grid-template-columns: repeat(${configuration.gridColumns}, 1fr);
	}
</style>