[#if !themeDisplay.isSignedIn()]
	<div class="banner-sign-in">
		<div class="banner-info">
			<div class="banner-content">
				<span data-lfr-editable-id="text" data-lfr-editable-type="text">
					${languageUtil.get(locale, 'liferay-education-sign-in-cta', 'Level up your Liferay skills! Explore our new guided learning experience in')}
				</span>

				<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">${languageUtil.get(locale, 'liferay-education', 'Liferay Education')}</a>
			</div>

			<div class="icon-x"></div>
		</div>
	</div>
[/#if]