.portlet-commerce-product-content {
	.tab-content {
		background: #fff;

		.icon-monospaced {
			font-size: 32px;
			height: 32px;
			width: 32px;
		}

		.tab-pane-collapse.tab-pane-replacements {
			display: block;
			height: 0;
			visibility: hidden;
		}
	}

	.table tbody tr {
		height: 40px;
	}
}
