.card-container {
	background-color: #F2F6FF;
	min-height: var(--spacer-8);

	.info-button {
		background-color: var(--color-state-info-lighten-2);
		border-radius: var(--border-radius-sm);
		height: var(--spacer-4);
		right: var(--spacer-2);
		top: var(--spacer-2);
		width: var(--spacer-4);
	}
}
