<nav class="primary-nav-container">
	<lfr-drop-zone class="primary-nav-logo" data-lfr-drop-zone-id="primary-nav-logo"></lfr-drop-zone>

	<div class="nav-items-container">
		<input class="nav-items-menu-button-input" id="${fragmentEntryLinkNamespace}" type="checkbox" />

		<label class="nav-items-menu-button" for="${fragmentEntryLinkNamespace}">
			<div class="nav-items-menu-button-icon">
				<div class="nav-items-menu-button-icon-line" id="nav-items-menu-button-icon-line-1"></div>
				<div class="nav-items-menu-button-icon-line" id="nav-items-menu-button-icon-line-2"></div>
				<div class="nav-items-menu-button-icon-line" id="nav-items-menu-button-icon-line-3"></div>
			</div>

			<span class="menu-button-text menu-button-text-open">
				${configuration.menuButton}
			</span>
			<span class="menu-button-text menu-button-text-close">
				${configuration.closeButton}
			</span>
		</label>

		<div class="nav-items-container-items">
			<lfr-drop-zone data-lfr-drop-zone-id="nav-items-container-dropzone"></lfr-drop-zone>
		</div>
	</div>
</nav>

<style>
	:root {
		[#if configuration.inverted]
			--logo-waffle-color: var(--color-neutral-0);
			--nav-item-text-color-active: var(--color-neutral-0);
			--nav-item-text-color-background: rgba(255, 255, 255, 0.1);
			--nav-item-text-color-default: var(--color-neutral-1);
			--nav-item-text-color-hover: var(--color-neutral-0);
		[#else]
			--logo-waffle-color: var(--color-brand-primary);
			--nav-item-text-color-active: var(--color-action-default-active);
			--nav-item-text-color-background: var(--color-action-default-hover-lighten);
			--nav-item-text-color-default: var(--color-neutral-9);
			--nav-item-text-color-hover: var(--color-action-default-hover);
		[/#if]

		--primary-nav-background-color: ${configuration.backgroundColor};
		--primary-nav-max-width: ${configuration.maxWidth};
	}
</style>